{% extends "layout.html" %}
{% block content %}
<header class="bg-slate-300">
  <nav class="flex justify-between items-center p-2">
    <div class="font-[Poppins] text-2xl" style="font-size: 600;font-style: italic;">
      <a href="{{ url_for ('landing') }}">
        EventPlaza
      </a>
    </div>
    <div id="nav-container" class="flex items-center duration-200 nav-container-no gap-x-6">
      <button class="nav-item hover:text-cyan-600 bg-transparent text-black py-1 px-3 rounded-full">
        <a href="{{ url_for('login') }}">
          Login
        </a>
      </button>
      <button class="nav-item hover:text-cyan-600 bg-black text-slate-300 py-1 px-3 rounded-full">
        <a href="{{ url_for('signup') }}">
          Sign Up
        </a>
      </button>
    </div>
    <ion-icon class="custom-nav-icon text-2xl cursor-pointer px-3" name="chevron-down-outline"></ion-icon>
  </nav>
</header>
<div class="grid">
  <section id="landing-section-1" class="grid grid-rows-6">
    <div id="landing-text-1" class="row-start-2 flex items-center justify-center animate-custom-left">
      <span class="text-slate-300 font-extrabold font-[Poppins] text-4xl">
        Event Planning
      </span>
    </div>
    <div id="landing-text-2" class="row-start-3 flex items-center justify-center animate-custom-left-delay">
      <span class="text-slate-300 font-extrabold font-[Poppins] text-4xl">
        Done Right.
      </span>
    </div>
    <div id="landing-button" class="row-start-6 flex items-center justify-center content-center ">
      <button class="hover:text-cyan-600 bg-black text-slate-300 mb-4 py-4 px-5 rounded-full">
        <a href="{{ url_for('signup') }}">
          Get Started
        </a>
      </button>
    </div>
  </section>
  <section id="landing-section-2" class="grid grid-cols-8 grid-rows-1 bg-slate-300">
    <div id="section-2-text" class="col-span-6 p-10">
      <h1 class="text-2xl">
        Why
        <span class="font-[Poppins] text-2xl" style="font-size: 600;font-style: italic;">
          EventPlaza
        </span>
        ?
      </h1>
      <br>
      <p>
        EventPlaza is designed to assist a wide range of
        event organizers across diverse domains, including:
      </p>
      <ul class="list-disc list-inside">
        <li>Conferences</li>
        <li>Workshops</li>
        <li>Festivals</li>
        <li>Seminars</li>
        <li>Community Gatherings</li>
      </ul>
      <br>
      <p>
        Our platform is tailored to serve event planners. Whether you're organizing a small-scale local event or a
        large-scale international conference, EventPlaza offers scalability
        and flexibility to meet your unique event management needs.
      </p>
      <br>
      <h1 class="text-2xl">
        Key Features?
      </h1>
      <br>
      <ul class="list-disc list-inside">
        <li>Create events with specific date and time</li>
        <li>Invite collaborators to your event as organizers or managers</li>
        <li>Create and manage tasks in your event's dashboard</li>
      </ul>
    </div>
    <div id="landing-effect-1" class="grid grid-cols-8 grid-rows-5 col-span-2 text-effect effect p-10">
      <span class="row-start-1 col-start-1">Plan,</span>
      <span class="row-start-2 col-start-2">Execute,</span>
      <span class="row-start-3 col-start-3">Get</span>
      <span class="row-start-4 col-start-4">It</span>
      <span class="row-start-5 col-start-5">Done!</span>
    </div>
  </section>
</div>

<footer id="landing-footer" class="bg-black flex">
  <div class="text-slate-300 px-10 py-5">
    <p>
      Brought to you by
      <a href="https://github.com/Abdorithm" target=”_blank” style="font-size: 600;font-style: italic;">
        Abdorithm
      </a>
      &
      <a href="https://github.com/HazemUsama" target=”_blank” style="font-size: 600;font-style: italic;">
        HazemUsama
      </a>
    </p>
    <br>
    <p>
      This project was inspired by our need to support local events that we are already organizers in.
      We thought developing a simple-to-use platform like
      <span style="font-size: 600;font-style: italic;">
        EventPlaza
      </span>
      would accelerate the workflow and efficiency
      with the event in terms of organization and management.
    </p>
    <br>
    <p>
      This is still work-in-progress, though. A lot of features are planned to be implemented. This is currently
      only the backbone, the MVP, of what we want this platform to be. With that being said, feel free to contribute
      or report any problem through the project's
      <a href="https://github.com/Abdorithm/EventPlaza" target=”_blank” style="font-size: 600;font-style: italic;">
        github repo
      </a>
    </p>
  </div>
</footer>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock content %}