<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page_title %}
  <title> EventPlaza - {{ page_title }} </title>
  {% else %}
  <title> EventPlaza </title>
  {% endif %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

{% if landing_layout %}
<body class="font-[Poppins] bg-gradient-to-t from-gray-900 to-cyan-600 h-screen">
{% else %}
<body class="font-[Poppins] bg-slate-300 h-full">
{% endif %}
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == "error" %}
  <div id="flash-body" class="bg-fuchsia-800 border-slate-200 text-slate-200 px-4 py-3 relative" role="alert">
    <strong class="font-bold">
      {{ message }}
    </strong>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg id="close-flash" class="fill-current h-6 w-6 text-slate-200" role="button" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20">
        <title>Close</title>
        <path
          d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
      </svg>
    </span>
  </div>
  {% elif category == "success" %}
  <div id="flash-body" class="bg-cyan-800 border-slate-200 text-slate-200 px-4 py-3 relative" role="alert">
    <strong class="font-bold">
      {{ message }}
    </strong>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg id="close-flash" class="fill-current h-6 w-6 text-slate-200" role="button" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20">
        <title>Close</title>
        <path
          d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
      </svg>
    </span>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% block content %} {% endblock %}
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>