<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,800&display=swap"
    rel="stylesheet">
  <link href="../static/styles/styles.css" rel="stylesheet">
</head>

<body class="font-[Poppins] bg-gradient-to-t from-gray-900 to-cyan-600 h-screen">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == "error" %}
  <div id="flash-body" class="bg-gray-900 border-slate-200 text-slate-200 px-4 py-3 relative" role="alert">
    <strong class="font-bold">
      {{ message }}
    </strong>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg id="close-flash" class="fill-current h-6 w-6 text-slate-200" role="button" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20">
        <title>Close</title>
        <path
          d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
      </svg>
    </span>
  </div>
  {% elif category == "success" %}
  <div id="flash-body" class="bg-gray-700 border-slate-200 text-slate-200 px-4 py-3 relative" role="alert">
    <strong class="font-bold">
      {{ message }}
    </strong>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg id="close-flash" class="fill-current h-6 w-6 text-slate-200" role="button" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20">
        <title>Close</title>
        <path
          d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
      </svg>
    </span>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-slate-200">
        You need to verify your email to access your
        <span class="font-[Poppins] text-2xl" style="font-size: 600;font-style: italic;">
          <a href="{{ url_for ('landing') }}">
            EventPlaza
          </a>
        </span>
        account
      </h2>
      <br>
      Click on the button below to recieve a verification link.
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" action="#" method="POST">
        {{ form.hidden_tag() }}
        <div>
          {{ form.submit(class="cursor-pointer flex w-full justify-center rounded-md bg-black px-3 py-1.5
          text-sm font-semibold leading-6 text-white shadow-sm
          hover:text-cyan-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
          focus-visible:outline-indigo-600") }}
        </div>
      </form>
    </div>
  </div>
  <script src="../static/js/app.js"></script>
</body>