<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EventPlaza - Log In</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,800&display=swap"
    rel="stylesheet">
  <link href="../static/styles/styles.css" rel="stylesheet">
</head>

<body class="font-[Poppins] bg-gradient-to-t from-fuchsia-600 to-cyan-600 h-screen">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-slate-200">
        Log in to
        <span class="font-[Poppins] text-2xl" style="font-size: 600;font-style: italic;">
          EventPlaza
        </span>
      </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" action="#" method="POST">
        {{ form.hidden_tag() }}
        <div>
          {{ form.email.label(class="block text-sm font-medium leading-6 text-slate-200") }}
          {{ form.email(class="block w-full rounded-md border-0 py-1.5 text-black shadow-sm ring-1 ring-inset ring-slate-200 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-cyan-600 sm:text-sm sm:leading-6") }}
        </div>
        <div>
          {{ form.password.label(class="block text-sm font-medium leading-6 text-slate-200") }}
          {{ form.password(class="block w-full rounded-md border-0 py-1.5 text-black shadow-sm ring-1 ring-inset ring-slate-200 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-cyan-600 sm:text-sm sm:leading-6") }}
        </div>
        <div>
          {{ form.submit(class="cursor-pointer flex w-full justify-center rounded-md bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:text-fuchsia-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600") }}
        </div>
        <div>
          <small>
            Already have an account? <a href="{{ url_for('signup') }}">Register Now.</a>
          </small>
        </div>
      </form>
    </div>
  </div>
</body>
